$accentColor: #606382;
$primaryColor: #272748;
$middleColor: #2b2c49;
$darkColor: #23233a;
$pinkColor: #ff4193;
$purpleColor: #ba00dc;

body {
    background-color: $darkColor;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    padding: 50px 0px;

    &.offline {
        
        .nav-left {
            left: -50px;
        }

        .content-app {
            padding-left: 0px;
        }
    }
}

/**************
**** HELPERS
***************/ 

.container {
    width: calc(100% - 30px);
    padding: 0px 15px;
}

.text-center {
    text-align: center;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/**************
**** TYPO
***************/ 

.title {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 500;

    &--view {
        margin-bottom: 0px;
    }
}

/**************
**** MENU
***************/ 

.nav-top {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: $middleColor;
    z-index: 100;

    &__title {
        font-size: 15px;
        color: #ffffff;
        display: inline-block;
        margin: 0px;
        padding-left: 15px;

        &--light {
            font-weight: 300;
        }
    }

    &__btn-content {
        float: right;
    }

    &__btn {
        height: 30px;
        line-height: 30px;
        text-decoration: none;
        font-size: .8rem;
        display: inline-block;
        padding: 0px 20px;
        border: 0px;
        border-radius: 3px;
        color: #ffffff;
        background-color: $purpleColor;
        margin-right: 15px;
    }
}

.nav-left {
    position: fixed;
    top: 50px;
    left: 0px;
    width: 50px;
    height: calc(100vh - 50px);
    background-color: darken($middleColor, 2%);
    border-right: 1px solid darken($middleColor, 5%);
    z-index: 99;    
    transition: all .5s linear;

    &__wrap {
        position: relative;
        width: 100%;
        height: 100%;
    }

    &__menu {
        width: 50px;
        height: 100%;
        background: darken($middleColor, 2%);;
        padding: 0px;
        margin: 0px;

        &__item {
            display: block;
            width: 50px;
            height: 50px;
            color: $accentColor;
            display: flex;
            transition: all .2s linear;
            cursor: pointer;

            &--active,
            &:hover {
                color: #ffffff;
            }

            i {
                margin: auto;
            }
        }
    }

    &__menu-view {
        position: absolute;
        left: -200px;
        top: 0px;
        width: 200px;
        height: calc(100vh - 50px);
        background-color: lighten($middleColor, 5%);
        
        &--active {
            left: 50px;
        }
    }
}

/**************
**** COMPONENTS
***************/

.bg-home {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 250px;
    background-color: darken($darkColor, 5%);
    display: flex;

    &__image {
        margin: auto;
        width: 200px;
        z-index: 1;
    }

    &__blur-image {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        filter: blur(10px);
        background-size: cover;
        background-position: center;
        transition: all .5s linear;
        transform: scale(1.5);
    }
}

.content-app {
    padding-left: 50px;
    width: 100%;
}

.track {
    width: 100%;
    position: relative;
    margin-top: 30px;    

    &__cover-wrap {
        position: relative;

        .track__cover {
            width: 100%;
            margin: 0px;
            padding: 0px;
        }

        .track__btn-play {
            position: absolute;
            left: 0px;
            bottom: 4px;
            width: 50px;
            height: 50px;
            background-color: $pinkColor;
            display: flex;
            color: #ffffff;

            i {
                margin: auto;
            }
        }
    }

    &__title {
        width: 100%;
        margin: 5px 0px 2px 0px;
        font-size: .85rem;
        font-weight: 500;
        color: #ffffff;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    &__sub-title {
        width: 100%;
        margin: 0px;
        font-size: .75rem;
        font-weight: 300;
        color: $accentColor;
    }

    audio {
        display: none;
    }
}

.search {
    margin-top: 30px;

    &__form {
        display: inline-flex;
    }

    &__input {
        width: 250px;
        height: 50px;
        background-color: $accentColor;
        border: 0px;
        padding: 0px 15px;
        color: #ffffff;
    }

    &__btn {
        width: 50px;
        color: #ffffff;
        border: 0px;
        background-color: $pinkColor;
    }
}

.modal-wrap {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: rgba(0,0,0,0.8);
    display: none;

    &--active {
        display: block;
    }

    .modal {
        width: 100%;
        max-width: 500px;
        height: 500px;
        margin: 0 auto;
        background-color: $middleColor;

        &__cover-wrap {
            width: 100%;
            height: 200px;
            position: relative;
            overflow: hidden;
            display: flex;
        }

        &__cover {
            height: 180px;
            margin: 10px auto;
            z-index: 1;
        }

        &__cover-blur {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            filter: blur(10px);
            background-size: cover;
            background-position: center;
            transition: all .5s linear;
            transform: scale(1.2);
        }

        &__content {
            padding: 15px;
        }
    }
}

@media screen and (max-width: 768px) {

    body.offline {

        .nav-left {
            left: 0px;
            bottom: -50px;
        }
    }

    .nav-left {
        top: initial;
        bottom: 0px;
        width: 100%;
        height: 50px;

        &__menu {
            width: 100%;
            height: 50px;
            text-align: center;
            display: flex;
            justify-content: space-around;

            &__item {
                display: inline-flex;
                position: relative;
                width: 100%;

                &--active {

                    &::after {
                        content: '';
                        position: absolute;
                        left: 0px;
                        top: 0px;
                        width: 100%;
                        height: 3px;
                        background-color: #ffffff;
                    }
                }
            }
        }
    }

    .title {
    
        &--view {
            text-align: center;
        }

    }

    .track {

        &__info {

            &__title {
                font-size: 0.8rem;
            }

            &__sub-title {
                font-size: 0.75rem;
            }
        }

        &__cover-wrap {
    
            .track__btn-play {
                width: 30px;
                height: 30px;
            }

        }
    }

    .search {
        width: 100%;

        &__form {
            width: 100%;
        }
    
        &__input {
            width: auto;
            flex: auto;
        }
    }

    .modal-wrap {

        .modal {
            width: 90%;
            height: 90vh;
            margin-top: 5vh;
        }
    }

    .content-app {
        padding-left: 0px;
    }

}
